* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    position: relative;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

header {
    grid-area: header;
    background: rgb(118, 43, 125);
    background: linear-gradient(90deg, rgba(118, 43, 125, 1) 24%, rgba(148, 186, 233, 1) 100%);
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

.nav_link--logo-site-name {
    color: white;
    font-size: 1.0rem;
    letter-spacing: 2.2px;
    text-align: center;
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(84, 27, 89);
}


main {
    grid-area: main;
}

.nav_link {
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_menu-btn {
    position: relative;
    background-color: rgb(84, 27, 89);
    color: white;
    align-items: center;
    justify-items: center;
    border-style: none;
    border-radius: 5px;
}

.nav_menu-btn--show,
.nav_menu--show {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.nav_menu-btn--hide,
.nav_menu--hide,
.nav_sub-menu--hide,
.button-hide {
    display: none !important;
}

.nav_link--purple {
    background-color: rgb(84, 27, 89);
    color: white;
}

.nav_link--font-style {
    font-family: 'Dosis';
    font-style: normal;
}

.nav_link--gold-bg {
    background-color: rgb(247, 210, 3);
    color: black;
}

.nav-sub-menu--title {
    font-family: 'Dosis';
    font-style: normal;
    text-align: center;
    color: white;
}


.nav-sub-menu--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
    border-style: none;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.nav_menu-btn--search {
    position: absolute;
    right: 0px;
}

footer {
    display: flex;
    grid-area: footer;
    background-color: black;
    padding: 10px;
}

.footer__section {
    background-color: rgba(74, 71, 71, 0.148);
    color: white;
    font-family: 'Dosis';
    font-style: normal;
}


hr {
    width: 80%;
}

.footer__section--links {
    height: 150px;
}

.footer__section--social-and-subscribe {
    height: 150px;
}

.footer__section-link {

    color: white;
    text-decoration: none;
    flex-shrink: 0;
    font-weight: 700;

}

.footer__section-link--purple-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(84, 27, 89);
    padding: 5px;
    border-radius: 3px;
}



.footer__section--social-and-subscribe-form{
    display: block;
    position: relative;
    width: fit-content;
    margin-top: 5px;
}
.footer__section--social-and-subscribe-input {
    margin-top: 5px;
    height: 25px;
}

.footer__section--social-and-subscribe-label {
    margin-top: -5px;
    display: none;
}

picture{
    display: block;
    height: fit-content;
    width: fit-content;
}
.hero {
    width: fit-content;
    height: fit-content;
}
.hero__img {
    width: 100%;
    height: auto;
  }
@media only screen and (max-width: 300px) {

    


}
@media only screen and (max-width: 500px){
    footer {
        flex-direction: column;
    }

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        
    }

    .footer__section--social-and-subscribe-form{
        margin-left: 20px;
        margin-top:  20px;;
    }
}
@media only screen and (min-width: 501px) and (max-width: 1099px) {

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }

}

@media only screen and (max-width: 1100px) {
    .wrapper {

        grid-template-rows: 40px auto auto;
    }

    header {
        position: fixed;
        width: inherit;
    }

   

    .nav_link--main-menu-item {
        padding: 3px;
        width: 100%;
        min-width: 270px;
        margin-top: 5px;
    }

    .nav_link--logo {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 120px;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: rgb(84, 27, 89);
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 30px;
    }

    .nav_link--logo-img {
        width: auto;
        height: 20px;
        line-height: 16px;
    }

    .nav_link--logo-site-name {
        margin-left: 5px;
    }

    .nav_menu-btn {
        height: 30px;
        width: auto;
    }

    .nav-menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      width: 100%;
      height: fit-content;
      background: rgba(0, 0, 0, 0.778);
      left: 0;
      top: 40px;
      padding: 5px;
    }

    .nav-sub-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .nav_link--social-media-item {
        width: 100%;
        max-width: 200px;
        margin-top: 5px;
        padding: 3px;

    }

    .nav-sub-menu--title {
        margin-bottom: 10px;
    }

    .nav-sub-menu--button {
        padding: 3px;
    }

    .nav_link--sub-menu-item {
        width: 100%;
        max-width: 250px;
        padding: 3px;
        margin: 5px auto 0 auto;
    }

    .nav-sub-menu {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .footer__section {
        width: 100%;
        margin-bottom: 5px;
    }

    .footer__section--copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .footer__section--links {
        display: flex;
        padding: 10px;
        align-items: start;
        justify-content: space-evenly;
    }

    .footer__section-link-list {
        margin-left: 20px;

    }

    .footer__section-list-point {
        display: flex;
        margin-top: 5px;
    }



    .footer__section-link--purple-bg {

        width: 200px;
    }

    .footer__section--social-and-subscribe-input {
        width: 200px;
    }

    .footer__section--social-and-subscribe-form {
        height: 100%;

    }

    .footer__section--social-and-subscribe-label {
        margin-top: -5px;
    }

}

@media only screen and (min-width: 1101px) {


    .wrapper {

        grid-template-rows: 100px auto auto;
    }

    .nav_link--logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav_link--logo-img {
        width: auto;
        height: 73px;
        line-height: 16px;
    }

    .nav_link--logo-site-name {
        width: 100%;
        padding-top: 1px;
    }


    .nav-menu {
        display: flex;
        flex-direction: row;
    }

    .nav_link--main-menu-item {
        width: 100px;
        height: 100%;
        flex-shrink: 0;
    }

    .nav_link--small-left-margin {
        margin-left: 10px;
    }


    .nav_link--social-media-item {
        width: 40px;
        height: 100%;
        flex-shrink: 0;
    }


    .nav-sub-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        height: 100%;
        width: 100px;
        justify-content: space-evenly;
    }


    .nav-sub-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 76px;

    }


    .nav_link--sub-menu-item {
        width: 100px;
        height: 40px;
        margin-top: 5px;
    }


    .nav_menu-btn--search {
        width: 50px;
        height: 100%;
        font-size: 1.3rem;
    }

    footer {
        flex-direction: row;
    }

    .footer__section {
        width: calc((100% - 15px)/ 3);
        margin-left: 5px;
        padding: 5px;

    }

    .footer__section--copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .footer__section--links {
        display: flex;
        flex-direction: row;
    }

    .footer__section-link-list {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__section-list-point {
        display: flex;
        margin-top: 5px;
    }

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;


    }

    .footer__section-link--purple-bg {
        width: 130px;
    }

    .footer__section--social-and-subscribe-input {
        width: 200px;
    }

    /*-----   index only code  ----  */

   

}