* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    position: relative;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

header {
    grid-area: header;
    background: rgb(118, 43, 125);
    background: linear-gradient(90deg, rgba(118, 43, 125, 1) 24%, rgba(148, 186, 233, 1) 100%);
    z-index: 10;

}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

.nav_link--logo-site-name {
    color: white;
    font-size: 1.0rem;
    letter-spacing: 2.2px;
    text-align: center;
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(84, 27, 89);
}


main {
    grid-area: main;
}

.nav_link {
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_menu-btn {
    position: relative;
    background-color: rgb(84, 27, 89);
    color: white;
    align-items: center;
    justify-items: center;
    border-style: none;
    border-radius: 5px;
}

.nav_menu-btn--show,
.nav_menu--show {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.nav_menu-btn--hide,
.nav_menu--hide,
.nav_sub-menu--hide,
.button-hide {
    display: none !important;
}

.nav_link--purple {
    background-color: rgb(84, 27, 89);
    color: white;
}

.nav_link--font-style {
    font-family: 'Dosis';
    font-style: normal;
}

.nav_link--gold-bg {
    background-color: rgb(247, 210, 3);
    color: black;
}




.nav-sub-menu--title {
    font-family: 'Dosis';
    font-style: normal;
    text-align: center;
    color: white;
}


.nav-sub-menu--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
    border-style: none;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.nav_menu-btn--search {
    position: absolute;
    right: 0px;
}

footer {
    display: flex;
    grid-area: footer;
    background-color: black;
    padding: 10px;
}

.footer__section {
    background-color: rgba(74, 71, 71, 0.148);
    color: white;
    font-family: 'Dosis';
    font-style: normal;
}


hr {
    width: 80%;
}

.footer__section--links {
    height: 150px;
}

.footer__section--social-and-subscribe {
    display: flex;
    /* height: 150px; */
    flex-direction: row;
    justify-content: space-around;
}

.footer__section-link {

    color: white;
    text-decoration: none;
    flex-shrink: 0;
    font-weight: 700;

}

.footer__section-link--purple-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(84, 27, 89);
    padding: 5px;
    border-radius: 3px;
}



.footer__section--social-and-subscribe-form {
    display: block;
    position: relative;
    width: fit-content;
    margin-top: 5px;
}

.footer__section--social-and-subscribe-input {
    margin-top: 5px;
    height: 25px;
}

.footer__section--social-and-subscribe-label {
    margin-top: -5px;
    display: none;
}

/* index.html css only*/

.index picture {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: flex-end;
}

.index .hero {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
}

.index .hero__img {
    width: 100%;
    height: auto;
}

.index .title-container {
    background: linear-gradient(90deg, rgba(118, 43, 125, 1) 24%, rgba(148, 186, 233, 1) 100%);
    width: 100%;
    height: fit-content;
    padding: 1rem;

}

.index .title-container__title,
.title-container__sub-title {
    display: block;
    text-align: center;
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 100%;
}

.index .hero__button-container {
    position: absolute;
    width: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
}

.index .hero__button {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(118, 43, 125, 1);
}

.index .hero__blog-information {
    color: white;
    font-family: 'Dosis';
    font-style: normal;
    padding: 5px;
}


.index .hero__sub-title,
.index .hero__title {

    font-family: 'Dosis';
    font-style: normal;
}

.index .large-preview-section__blog-link-topic-and-date-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;   
}

.index .hero__blog-link-topic-and-date-container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

}



.index .hero__read-more-link, .index .large-preview-section__read-more-link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 3px;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    font-family: 'dosis', sans-serif;
    font-style: normal;
}

.index .hero__blog-topic-and-date-container,
.index .large-preview-section__blog-topic-and-date-container {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    justify-content: space-between;
    align-items: flex-end;
}

.index .large-preview-section__blog-topic-and-date-container {
    color: white;
    background-color: black;
    font-family: 'dosis', sans-serif;
    font-style: normal;
    padding: 5px;
    color: white;
    height: 3rem;
}



.index .hero--hide {
    display: none !important;
}

.index .blog-previews {
    display: flex;
    position: relative;
    padding: 5px;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    justify-content: space-around;


}

.index .blog-previews__blog-preview {

    display: flex;
    position: relative;
    flex-direction: row;
}

.index .blog-previews__blog-preview-title {
    display: flex;
    align-items: center;
    font-family: 'Dosis';
    font-style: normal;
    Width: 150px;
    height: auto;
    background-color: rgba(4, 4, 104, 0.9);
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    font-family: 'Dosis';
    font-style: normal;
}

.index .blog-previews__blog-preview-img {
    display: flex;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.index .blog-previews__blog-preview-img:hover {
    transform: scale(1.03)
}

.index .large-preview-section__blog-preview-title {
    background-color: rgba(4, 4, 104, 0.9);
    font-family: 'dosis';
    font-style: 'normal';
    color: white;
    font-size: 1.4rem;

}

.index .large-preview-section__blog-preview-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    height: fit-content;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;


}

.index .large-preview-section__blog-preview-img {
    width: 100%;

}

.index .large-preview-sections-container {
    display: flex;
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

.index .large-preview-sections-container {
    border: 1px solid black;
}

.index .large-preview-section-container {
    background-color: white;
    padding: 10px;

}

.index .large-preview-sections-container__title {
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    background: rgba(118, 43, 125, 1);
    background: linear-gradient(90deg, rgba(118, 43, 125, 1) 24%, rgba(148, 186, 233, 1) 100%);
    border-left: 1px solid black;
    border-right: 1px solid black;

    color: white;
    text-align: center;
    font-size: 2rem;

    width: 100%;
}

.index .large-preview-section__blog-preview-title {
    padding: 5px;
    text-align: left;
}

.index .large-preview-section {
    width: 100%;
    height: fit-content;
   margin-bottom: 10px; 
}

/*** about only**/

.about .title-container__title--small{
    font-size: 1.8rem;
    font-family: "Annie Use Your Telescope", serif;


}
@media only screen and (max-width: 300px) {

    .title-container__title--big {
        font-size: 2rem;


    }
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;

    }

    .footer__section--social-and-subscribe-form {
        margin-left: 20px;
        margin-top: 20px;

    }

    /** index.html css only*/

    .index .title-container__title--big {
        font-size: 2.5rem;

    }

    .index .title-container__sub-title {
        font-size: 1.2rem;
    }

    /** index.html css only*/

    .index .title-container__title--big {
        font-size: 4rem;
    }

    .index .title-container__sub-title {
        font-size: 2rem;
    }

    .index .hero__blog-information,
    .index .hero__title-information {
        width: 100%;
        background-color: rgb(80, 29, 85);

    }

    .index .hero__title-information {
        padding: 3px;
    }

    .index .hero__title {
        font-size: 1.2rem;
    }


    .index .hero__sub-title {
        margin-top: 10px;
        font-size: 1.0rem;
    }

    .index .hero__blog-link-topic-and-date-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    /**** index only    **/
    .index .blog-previews {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .index .blog-previews__blog-preview {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .index .blog-previews__blog-preview-title {
        width: 120px;
    }

    .index .blog-previews__blog-preview-img {

        margin-left: -10px;
    }

    .large-preview-sections-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
        border: 1px solid black;


    }

    .large-preview-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .large-preview-section__blog-preview-title {
        width: 100%;
        background-color: rgba(4, 4, 104, 0.9);
        color: white;

    }

    .index .large-preview-section__blog-preview-link {
        width: 100%;
    }

    .index .large-preview-sections-container__title {
        width: 100%;
    }

}

@media only screen and (min-width: 501px) {
    /** index.html css only*/

    .index .title-container__title--big {
        font-size: 4.5rem;
    }

    .index .title-container__sub-title {
        font-size: 2.2rem;
    }

    .index .hero__blog-information {

        position: absolute;
        top: 5px;
        left: 5px;
        width: 400px;
        background-color: rgba(80, 29, 85, 0.8)
    }

    .index .hero__title-information {
        width: 100%;
    }

    .index .hero__title-information {
        padding: 3px;
    }

    .index .hero__title {
        font-size: 1.5rem;
    }


    .index .hero__sub-title {
        margin-top: 5px;
        font-size: 1.2rem;
    }

    .index .hero {
        position: relative;
    }


    .index .hero__blog-link-topic-and-date-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

    }

    .index .large-preview-sections-container {
        display: flex;
        flex-direction: column;
    }

    .index .large-preview-section-container {
        margin: 0 auto;
        align-items: flex-end;

    }


    .index .large-preview-sections-container__title {
        display: flex;
        flex-direction: column;
    }

    .index .large-preview-section {
        display: flex;
        flex-direction: column;
    }


    .index .large-preview-section {
        width: 100%;
    }






}

@media only screen and (min-width: 501px) and (max-width: 1099px) {

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }

    /**** index only    **/
    .index .blog-previews {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .index .blog-previews__blog-preview {
        flex-direction: column;
        align-items: center;
    }

    .index .blog-previews__blog-preview-title {
        width: 150px;
    }

    .index .blog-previews__blog-preview-img {
        margin-bottom: -5px;
        z-index: 1;
    }

}

@media only screen and (max-width: 730px) {

    .index .large-preview-section {
       width: 70%;
       min-width: 250px;
       margin-left:  auto;
       margin-right: auto;

    }
}

@media only screen and (min-width: 900px) {
    .index .large-preview-sections-container {

        flex-direction: row;
    }


}

@media only screen and (max-width: 1100px) {
    .wrapper {

        grid-template-rows: 40px auto auto;
    }

    header {
        position: fixed;
        width: inherit;
    }



    .nav_link--main-menu-item {
        padding: 3px;
        width: 100%;
        min-width: 270px;
        margin-top: 5px;
    }

    .nav_link--logo {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 120px;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: rgb(84, 27, 89);
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 30px;
    }

    .nav_link--logo-img {
        width: auto;
        height: 20px;
        line-height: 16px;
    }

    .nav_link--logo-site-name {
        margin-left: 5px;
    }

    .nav_menu-btn {
        height: 30px;
        width: auto;
    }

    .nav-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
        height: fit-content;
        background: rgba(0, 0, 0, 0.778);
        left: 0;
        top: 40px;
        padding: 5px;
    }

    .nav-menu__overflow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow-y: auto;
        height: fit-content;
        max-height: calc(100vh - 40px);
    }

    .nav-sub-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .nav_link--social-media-item {
        width: 100%;
        max-width: 200px;
        margin-top: 5px;
        padding: 3px;

    }

    .nav-sub-menu--title {
        margin-bottom: 10px;
    }

    .nav-sub-menu--button {
        padding: 3px;
    }

    .nav_link--sub-menu-item {
        width: 100%;
        max-width: 250px;
        padding: 3px;
        margin: 5px auto 0 auto;
    }

    .nav-sub-menu {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .footer__section {
        width: 100%;
        margin-bottom: 5px;
    }

    .footer__section--copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .footer__section--links {
        display: flex;
        padding: 10px;
        align-items: start;
        justify-content: space-evenly;
    }

    .footer__section-link-list {
        margin-left: 20px;

    }

    .footer__section-list-point {
        display: flex;
        margin-top: 5px;
    }



    .footer__section-link--purple-bg {

        width: 200px;
    }

    .footer__section--social-and-subscribe-input {
        width: 200px;
    }

    .footer__section--social-and-subscribe-form {
        height: 100%;

    }

    .footer__section--social-and-subscribe-label {
        margin-top: -5px;
    }


}

@media only screen and (min-width: 1101px) {


    .wrapper {

        grid-template-rows: 100px auto auto;
    }

    .nav_link--logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav_link--logo-img {
        width: auto;
        height: 73px;
        line-height: 16px;
    }

    .nav_link--logo-site-name {
        width: 100%;
        padding-top: 1px;
    }


    .nav-menu {
        display: flex;
        flex-direction: row;
    }

    .nav_link--main-menu-item {
        width: 100px;
        height: 100%;
        flex-shrink: 0;
    }

    .nav_link--small-left-margin {
        margin-left: 10px;
    }


    .nav_link--social-media-item {
        width: 40px;
        height: 100%;
        flex-shrink: 0;
    }

    .nav-menu__overflow-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .nav-sub-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        height: 100%;
        width: 100px;
        justify-content: space-evenly;
    }


    .nav-sub-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 76px;

    }


    .nav_link--sub-menu-item {
        width: 100px;
        height: 40px;
        margin-top: 5px;
    }


    .nav_menu-btn--search {
        width: 50px;
        height: 100%;
        font-size: 1.3rem;
    }

    footer {
        flex-direction: row;
    }

    .footer__section {
        width: calc((100% - 15px)/ 3);
        margin-left: 5px;
        padding: 5px;

    }

    .footer__section--copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .footer__section--links {
        display: flex;
        flex-direction: row;
    }

    .footer__section-link-list {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__section-list-point {
        display: flex;
        margin-top: 5px;
    }

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;


    }

    .footer__section-link--purple-bg {
        width: 130px;
    }

    .footer__section--social-and-subscribe-input {
        width: 200px;
    }


    /**** index only    **/
    .index .blog-previews {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}