


main {
    grid-area: main;
}

/* index.html css only*/

.index picture {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: flex-end;
}

.index .hero {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.index .hero__img {
    width: 100%;
    height: auto;
}


.title-container {
    background:  rgb(255, 192, 203);;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}



.index .title-container__title,
.title-container__sub-title {
    display: block;
    text-align: center;
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    width: 100%;
}

.index .hero__button-container {
    position: absolute;
    width: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
}

.index .hero__button {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(118, 43, 125, 1);
}

.index .hero__blog-information {
    color: white;
    font-family: 'Dosis';
    font-style: normal;
    padding: 5px;
}


.index .hero__sub-title,
.index .hero__title {

    font-family: 'Dosis';
    font-style: normal;
}

.index .large-preview-section__blog-link-topic-and-date-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.index .hero__blog-link-topic-and-date-container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

}



.index .hero__read-more-link,
.index .large-preview-section__read-more-link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 3px;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    font-family: 'dosis', sans-serif;
    font-style: normal;
}

.index .hero__blog-topic-and-date-container,
.index .large-preview-section__blog-topic-and-date-container {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    justify-content: space-between;
    align-items: flex-end;
}

.index .large-preview-section__blog-topic-and-date-container {
    color: white;
    background-color: black;
    font-family: 'dosis', sans-serif;
    font-style: normal;
    padding: 5px;
    color: white;
    height: 3rem;
}



.index .hero--hide {
    display: none !important;
}

.index .blog-previews {
    display: flex;
    position: relative;
    padding: 5px;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    justify-content: space-around;


}

.index .blog-previews__blog-preview {

    display: flex;
    position: relative;
    flex-direction: row;
}

.index .blog-previews__blog-preview-title {
    display: flex;
    align-items: center;
    font-family: 'Dosis';
    font-style: normal;
    Width: 150px;
    height: auto;
    background-color: rgb(84, 27, 89);
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    font-family: 'Dosis';
    font-style: normal;
}

.index .blog-previews__blog-preview-img {
    display: flex;
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.index .blog-previews__blog-preview-img:hover {
    transform: scale(1.03)
}

.index .large-preview-section__blog-preview-title {
    background-color: rgb(84, 27, 89);
    font-family: 'dosis';
    font-style: 'normal';
    color: white;
    font-size: 1.4rem;

}

.index .large-preview-section__blog-preview-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    height: fit-content;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;


}

.index .large-preview-section__blog-preview-img {
    width: 100%;

}

.index .large-preview-sections-container {
    display: flex;
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

.index .large-preview-sections-container {
    border: 1px solid black;
}

.index .large-preview-section-container {
    background-color: white;
    padding: 10px;

}

.index .large-preview-sections-container__title {
    font-family: "Annie Use Your Telescope", serif;
    font-weight: 400;
    font-style: normal;
    background: pink;
    border-left: 1px solid black;
    border-right: 1px solid black;

    color: black;
    text-align: center;
    font-size: 2rem;

    width: 100%;
}

.index .large-preview-section__blog-preview-title {
    padding: 5px;
    text-align: left;
}

.index .large-preview-section {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

/*** about and LCO only**/

body:not(.index) .title-container__title--small {
    font-size: 1.8rem;
    font-family: "Annie Use Your Telescope", serif;
    color: black;
}

body:not(.index) p {
    font-family: 'dosis';
    font-size: 1rem;
    padding: 1rem;

}

body:not(.index) .website-section {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px;
}

body:not(.index) .website-section__img {
    width: 90%;
    height: 90%;
    max-width: 250px;
    border-radius: 50%;
    background-color: pink;
}

body:not(.index) .website-section__picture-container {
    flex-basis: 250px;
}

body:not(.index) .website-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
    align-items: flex-end;
}



body:not(.index) .website-section__bullet-list{
    list-style: square;
    padding: 10px;
    width: 90%;

}

body:not(.index) .website-section__bullet-list  li {
    padding: 10px;

    font-family: 'dosis', "sans-serif";
}

figcaption {
    font-family: 'dosis',sans-serif;
}

@media only screen and (max-width: 300px) {

    .title-container__title--big {
        font-size: 2rem;


    }
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;

    }

    .footer__section--social-and-subscribe-form {
        margin-left: 20px;
        margin-top: 20px;

    }

    /** index.html css only*/

    .index .title-container__title--big {
        font-size: 2.5rem;

    }

    .index .title-container__sub-title {
        font-size: 1.2rem;
    }

    /** index.html css only*/

    .index .title-container__title--big {
        font-size: 4rem;
    }

    .index .title-container__sub-title {
        font-size: 2rem;
    }

    .index .hero__blog-information,
    .index .hero__title-information {
        width: 100%;
        background-color: rgb(80, 29, 85);

    }

    .index .hero__title-information {
        padding: 3px;
    }

    .index .hero__title {
        font-size: 1.2rem;
    }


    .index .hero__sub-title {
        margin-top: 10px;
        font-size: 1.0rem;
    }

    .index .hero__blog-link-topic-and-date-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    /**** index only    **/
    .index .blog-previews {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .index .blog-previews__blog-preview {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .index .blog-previews__blog-preview-title {
        width: 120px;
    }

    .index .blog-previews__blog-preview-img {

        margin-left: -10px;
    }

    .large-preview-sections-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
        border: 1px solid black;


    }

    .large-preview-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .large-preview-section__blog-preview-title {
        width: 100%;
        background-color: rgba(4, 4, 104, 0.9);
        color: white;

    }

    .index .large-preview-section__blog-preview-link {
        width: 100%;
    }

    .index .large-preview-sections-container__title {
        width: 100%;
    }





}

@media only screen and (min-width: 501px) {
    /** index.html css only*/

    .index .title-container__title--big {
        font-size: 4.5rem;
    }

    .index .title-container__sub-title {
        font-size: 2.2rem;
    }

    .index .hero__blog-information {

        position: absolute;
        top: 5px;
        left: 5px;
        width: 400px;
        background-color: rgba(80, 29, 85, 0.8)
    }

    .index .hero__title-information {
        width: 100%;
    }

    .index .hero__title-information {
        padding: 3px;
    }

    .index .hero__title {
        font-size: 1.5rem;
    }


    .index .hero__sub-title {
        margin-top: 5px;
        font-size: 1.2rem;
    }

    .index .hero {
        position: relative;
    }


    .index .hero__blog-link-topic-and-date-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

    }

    .index .large-preview-sections-container {
        display: flex;
        flex-direction: column;
    }

    .index .large-preview-section-container {
        margin: 0 auto;
        align-items: flex-end;

    }


    .index .large-preview-sections-container__title {
        display: flex;
        flex-direction: column;
    }

    .index .large-preview-section {
        display: flex;
        flex-direction: column;
    }


    .index .large-preview-section {
        width: 100%;
    }






}

@media only screen and (min-width: 501px) and (max-width: 1099px) {

    .footer__section--social-and-subscribe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }

    /**** index only    **/
    .index .blog-previews {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .index .blog-previews__blog-preview {
        flex-direction: column;
        align-items: center;
    }

    .index .blog-previews__blog-preview-title {
        width: 150px;
    }

    .index .blog-previews__blog-preview-img {
        margin-bottom: -5px;
        z-index: 1;
    }

}

@media only screen and (max-width: 735px) {

    .index .large-preview-section {
        width: 70%;
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;

    }

    /*** about **/
    body:not(.index) .website-section {

        flex-direction: column;

    }
}

@media only screen and (min-width: 900px) {
    .index .large-preview-sections-container {

        flex-direction: row;
    }


}

@media only screen and (max-width: 1100px) {
    .wrapper {

        grid-template-rows: 40px auto auto;
    }

    header {
        width: inherit;
    }


}
